.Side-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sidebar-Inner-Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Filter-Title {
  display: flex;
  justify-content: center;
}

.unwrap {
  width: 34.3vh;
  height: auto;
  justify-content: center;
  padding-bottom: 2vh;
}

.addThird {
  margin-top: 10vh;
  width: 28vh;
}
