.Profile {
  display: flex;
  flex-direction: column;
  width: 1400px;
  min-height: 730px;
}

.Profile_Navigation {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: rgb(255, 255, 255);
}

.Profile button {
  border: 1px solid white;
  background-color: #212121;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.IsSelected {
  color: #abc9ff !important;
}

.Profile button:active {
  transform: scale(0.95);
}

.Profile button:focus {
  outline: none;
}

.AccountInformation {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1400px;
}

.main-profile-info {
  width: 400px;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.main-profile-info,
.profile-settings {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-size: 12px;
  margin: 10px;
}

.profile-image {
  width: 80px;
}

.profile-settings {
  width: 85%;
  height: 780px;
  justify-content: flex-start;
}

.profile-settings p {
  align-self: center;
  padding-bottom: 20px;
}

.profile-settings .bar {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 12px 20px;
}

.profile-settings input {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none;
  padding: 6px 8px;
  margin: 8px 0;
  width: 100%;
}

.profile-settings input:focus,
.profile-settings input:active {
  outline: none;
  box-shadow: #abc9ff 0px 1px 3px 0px, #abc9ff 0px 0px 0px 1px;
}

.double-input {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 8px 20px;
}

.profile-settings button {
  align-self: flex-end;
}
.OrderedItems {
  display: flex;
  flex-direction: column;
}

.UnSelected {
  color: white;
}

.Selected {
  color: #abc9ff;
}
