.Navbar-Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
}

.Navbar-Icon-Wrapper {
  color: white;
  padding: 2vh;
  font-size: 4vh;
  font-family: "Brush Script MT", cursive !important;
}

.Navbar-Icon-Wrapper:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #abc9ff;
}

.Navbar-Profile-Bar-Wrapper {
  display: flex;
  justify-content: space-between;
}

.Navbar-Profile-Bar {
  text-align: center;
  border: none;
  transition: all 0.1s ease-in-out;
  color: white;
  font-weight: 900;
  padding: 0vh 0.8vh;
  display: flex;
  margin-right: 2vh;
  font-size: 1.6vh;
  align-items: center;
  justify-content: center;
  opacity: 0.95;
  position: relative;
  min-width: 10vh;
}

.Navbar-Profile-Bar p {
  margin-left: 0.2vh;
}

.Navbar-Profile-Bar:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #abc9ff;
  opacity: 1;
}

.Total-Count {
  font-size: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4vh;
  height: 2.4vh;
  border-radius: 9.9vh;
  position: absolute;
  top: -0.2vh;
  left: 0.5vh;
  color: #ffffff;
}
