.OrderWraper * {
  font-size: 1.4vh;
}

.OrderWraper {
  border-radius: 0.4vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0vh 0vh 0vh 0.1vh;
  margin: 1vh;
}

.OrderItemHead {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.05) 0vh 0vh 0vh 0.1vh;
}

.OrderItemDetails {
  display: flex;
  flex-direction: column;
  padding: 1vh;
}

.OrderItemDetails p {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.OrderItemBody {
  display: flex;
}

.Price {
  font-size: 2.4vh;
  font-weight: 800;
  color: #abc9ff;
}

.miniImage {
  width: 6.72vh;
  height: 10.05vh;
  box-shadow: #abc9ff 0vh 0vh 0vh 0.1vh;
  margin-right: 1vh;
}

.OrderImages {
  display: flex;
  flex-wrap: wrap;
}

.OrderImagesWithPcs {
  width: fit-content;
  position: relative;
  padding: 1.2vh;
  margin: 0.4vh;
  transition: all 0.2s ease-in-out;
}

.OrderImagesWithPcs:hover {
  transform: scale(1.2);
}

.AmountOfItems {
  color: #abc9ff;
  font-weight: bolder;
  font-size: 1.4vh;
  bottom: -0.2vh;
  position: absolute;
  z-index: 1;
}
