.AddsWrapper {
  width: 80vw;
  margin-top: 2vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.swiper {
  margin-left: 0vh !important;
  margin-right: 5.4vh !important;
}
.addTwo {
  width: 18vw;
}
.addTwoPngs {
  width: 18vw;
}
.addGif {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}
.gif-photo {
  position: absolute;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgb(0, 0, 0) !important;
}
