.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 73vh;
}

.Profile_Navigation {
  width: 80%;
  padding: 2vw;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0vh 0.4vh 1.2vh;
  background-color: rgb(255, 255, 255);
}

.Profile button {
  border: 0.1vw solid white;
  background-color: #212121;
  color: white;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 1.2vh 4.5vw;
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.IsSelected {
  color: #abc9ff !important;
}

.Profile button:active {
  transform: scale(0.95);
}

.Profile button:focus {
  outline: none;
}

.AccountInformation {
  box-shadow: rgba(0, 0, 0, 0.05) 0vh 0vh 0vh 0.1vh;
  background-color: rgb(255, 255, 255);
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80vw;
}

.main-profile-info {
  width: 20vw;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.main-profile-info,
.profile-settings {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0vh 0vh 0vh 0.1vh;
  font-size: 1.2vh;
  margin: 1vh;
}

.profile-image {
  width: 8vw;
}

.profile-settings {
  width: 85%;
  height: 78vh;
  justify-content: flex-start;
}

.profile-settings p {
  align-self: center;
  padding-bottom: 2vh;
}

.profile-settings .bar {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 1.2vh 2vw;
}

.profile-settings input {
  border-radius: 0.2vh;
  box-shadow: rgba(0, 0, 0, 0.02) 0vh 0.1vh 0.3vh 0vh,
    rgba(27, 31, 35, 0.15) 0vh 0vh 0vh 0.1vh;
  border: none;
  padding: 0.6vh 0.8vh;
  margin: 0.8vh 0;
  width: 100%;
  font-size: 2vh;
}

.profile-settings input:focus,
.profile-settings input:active {
  outline: none;
  box-shadow: #abc9ff 0vh 0.1vh 0.3vh 0vh, #abc9ff 0vh 0vh 0vh 0.1vh;
}

.double-input {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0.8vh 2vh;
}

.profile-settings button {
  align-self: flex-end;
}
.OrderedItems {
  display: flex;
  flex-direction: column;
}

.UnSelected {
  color: white;
}

.Selected {
  color: #abc9ff;
}
