.Payment_Page_Wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.Payment_Summary_Title {
  margin: 10px;
}

.Product_Total_Prices {
  font-size: medium;
  margin: 0px 14px;
  margin-bottom: 20px;
  padding: 8px;
  box-shadow: #000000 0px 10px 10px -10px;
}

.Each_Item_Wraper {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Each_Item_Title {
  max-width: 200px;
}

.Each_Item_Prices {
  font-weight: 600;
}

.Total_Price_Wrapper {
  display: flex;
  justify-content: space-between;
}

.Total {
  margin: 0px 22px;
  font-size: larger;
  font-weight: 700;
}

.Total_Price {
  margin-right: 20px;
  font-weight: 800;
  font-size: large;
  color: #abc9ff;
}

.OrderErrorMessage {
  color: red;
}

.Payment_Button {
  align-self: flex-end;
  margin: 20px;
  width: 80px;
  height: 40px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);

  transition: all 0.2s ease-in-out;
  border: none;
  color: white;
  font-size: 20px;

  cursor: pointer;
}

.Payment_Button:hover {
  background-image: linear-gradient(
    to right,
    #434343 0%,
    rgba(0, 0, 0, 0.815) 100%
  );
}
