/* .Product-Card-Item {
  text-decoration: none;
  color: #1b1b1b;
}

.image-container {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.Product-Image {
  flex-direction: column;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  left: 0;
  top: 0;
  position: relative;
  display: block;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.Product-Description-Wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.3s ease;
  max-height: 125px;
  padding: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  max-height: 111px;
  display: block;
}

.Product-Description {
  overflow: hidden;
  height: 34px;
  text-align: left;
  display: block;
}

.Product-Description-Head {
  font-family: source_sans_proregular, sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 700;
  margin-right: 4px;
}

.Product-Description-Exp {
  background-color: aqua;
  word-wrap: break-word;
  position: relative;
  width: 224px;
  margin-top: 20px;
  margin-right: 20px;
  box-shadow: none;
  transition: box-shadow, border-radius 0.2s linear;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
} */

.boutique-product {
  position: relative;
  width: 260px;
  margin: 10px 15px;
  box-shadow: none;
  transition: box-shadow, border-radius 0.2s linear;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
}

.boutique-product a {
  display: block;
  text-align: center;
}

.image-container {
  overflow: hidden;
  display: block;
}

.p-card-img {
  box-sizing: border-box;
  width: 224px px;
  height: 334px;
  border: 1px solid #f5f4f4;
  transition: transform 0.5s ease;
  vertical-align: middle;
}

.description,
.fixed-elements {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 13px;
}

.product-brand-description,
.two-line-text {
  height: 36px;
  overflow: hidden;
}

.brand {
  margin-right: 4px;
  font-size: 14px;
  font-family: source_sans_prosemibold, serif;
  color: #333;
}
.name {
  white-space: normal;
  overflow: hidden;
  max-width: 100%;
  width: 10px;
  word-break: normal;
}
