.Fav-Wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.FavContainer {
  border: 0.1vh solid black;
  margin: 2vh 1.65vh;
  transition: all 0.1s ease-in-out;
  max-width: 20vh;
}

.FavContainer:hover {
  background-color: #abc9ff;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.FavInnerContainer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: white;
}

.FavInnerContainer .fav-product-image {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.FavInnerContainer .fav-product-image a.fav-image {
  height: auto;
}
.FavInnerContainer .fav-product-image img {
  width: 100%;
  height: auto;
}
.FavInnerContainer .fav-product-discount-label {
  color: #fff;
  background-color: #abc9ff;
  font-size: 1.7vh;
  font-weight: 600;
  line-height: 2.5vh;
  padding: 0vh 2vh;
  position: absolute;
  top: 1vh;
  left: 0;
}
.FavInnerContainer .fav-product-links {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 1vh;
  right: -5vh;
  transition: all 0.5s ease 0s;
}
.FavInnerContainer:hover .fav-product-links {
  right: 1vh;
}
.FavInnerContainer .fav-product-links li .heartIco {
  color: white;
  background: transparent;
  font-size: 1.1vh;
  line-height: 3.8vh;
  width: 2.6vh;
  height: 2.6vh;
  border: 0.1vh solid #333;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background-image: linear-gradient(to right, #212121 0%, black 100%);
}
.FavInnerContainer .fav-product-links li:last-child .heartIco {
  border-bottom: 0.1vh solid #333;
}
.FavInnerContainer .fav-product-links li .heartIco:hover {
  color: #abc9ff;
  background: white;
}
.FavInnerContainer .fav-add-to-cart {
  cursor: pointer;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #fff;
  font-size: 1.1vh;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2vh;
  width: 100%;
  padding: 0.6vh 00vh;
  position: absolute;
  left: 0;
  bottom: -6vh;
  transition: all 0.1s ease 0s;
}
.FavInnerContainer:hover .fav-add-to-cart {
  bottom: 0vh;
}
.FavInnerContainer .fav-add-to-cart:hover {
  background-image: none;
  background-color: #abc9ff;
  color: rgb(255, 255, 255);
}
.FavInnerContainer .fav-product-content {
  background: #fff;
  padding: 1.5vh;

  border-top: #212121 0.2vh solid;
}
.FavInnerContainer:hover .fav-product-content {
  border-top: #abc9ff 0.2vh solid;
}
.FavInnerContainer .fav-title {
  font-size: 1.4vh;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 0.7vh;
  max-width: 22.4vh;
  height: 4vh;
}
.FavInnerContainer .fav-title a {
  color: #777;
  transition: all 0.3s ease 0s;
}
.FavInnerContainer .fav-title a:hover {
  color: #cfd2cf;
}
.FavInnerContainer .price {
  color: #0d0d0d;
  font-size: 1.4vh;
  font-weight: 600;
}
.FavInnerContainer .price span {
  color: #888;
  font-size: 1.3vh;
  font-weight: 400;
  text-decoration: line-through;
}
@media screen and (max-width: 990px) {
  .FavInnerContainer {
    margin-bottom: 3vh;
  }
}
