.Color-List-Wrapper {
  overflow: hidden;
}

.Colors {
  width: 20px;
  height: 20px;
  margin: 8px 6px;
  border-radius: 99px;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}

.Red-color {
  background-color: red;
}
.Orange-color {
  background-color: orange;
}
.Yellow-color {
  background-color: yellow;
}
.Green-color {
  background-color: green;
}
.Blue-color {
  background-color: blue;
}
.Purple-color {
  background-color: purple;
}

.Color-List {
  display: flex;
  width: 100%;
  height: 100%;
}

.Selected-Color {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
