.Sidebar-Inner-Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.unwrap {
  justify-content: center;
  margin: 20px 20px;
}

.aggregation-seperator {
  width: 100%;
  height: 1px;
  background: rgba(5, 219, 41, 0.486);
  border: solid 1px #ececec;
  border-top: 15px;
  border-bottom: 15px;
  display: block;
}
