html {
  overflow-y: scroll;
}

* {
  font-family: "Tw Cen MT";
  font-weight: 800;
}

.Page-Navbar-Wrapper {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #cfd2cf 0px 1px 3px 0px, #cfd2cf 0px 0px 0px 1px;

  background-color: #f5eddce7;
}

.Body-Wraper {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Navbar {
  width: 1600px;
}

.Items-List {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  border-radius: 22px;
  padding: 20px;
}

.Login-Wrapper {
  margin-top: 120px;
  box-shadow: #eb1d36 0px 4px 12px;
  border-radius: 22px;
}

.Sidebar-Wrapper {
  box-shadow: #cfd2cf 0px 2px 4px 0px, #cfd2cf 0px 0px 0px 2px;

  border-radius: 22px;
  width: 280px;
}

.Purchase-Wrapper {
  display: flex;
  justify-content: center;
  margin: 10px;
}
