html {
  overflow-y: scroll;
}

.Card {
  width: 100vw;
}

* {
  font-family: "Inter";
}

.Page-Navbar-Wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.Body-Wraper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Body-Select {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80vw;
}

.BodyContainer,
.Purchase-Wrapper {
  position: relative;
  z-index: 1;
}

.Body-Wraper::before,
.Purchase-Wrapper::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  filter: blur(0.15vh);
  -webkit-filter: blur(0.15vh);
  z-index: -1;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.Navbar {
  width: 100vw;
  height: 10vh;
}

.Items-List {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -1vh;
  margin: 0;
}

.PaginationWraper {
  width: 100%;
  padding: 3vh 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-Wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  padding-top: 7vh;
}

.Login-Wrapper::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  background-image: url(./Images/login_background.jpg);
  background-size: cover;
}

.Login-Wrapper * {
  box-sizing: border-box;
}

.Sidebar-Wrapper {
  width: 18vw;
  align-self: flex-start;
}

.Purchase-Wrapper {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 84.8vh;
}

.ProductPageWraper {
  width: 100%;
  height: 83vh;
  padding: 0.1vh 0.1vh;
}
