.Product_Purchase_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;

  position: relative;
}

.Product_Purchase_Card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Product_Purchase_Image {
  height: 100px;

  margin: 0px 10px;
}

.Product_Purchase_Card_Info {
  width: 80%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Product_Purchase_Card_Name {
  font-size: large;
  font-weight: bold;
}

.Purchase_Item_Count {
  display: flex;
  width: 120px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.Count_Button {
  padding: 8px;
  border-radius: 22px;
  cursor: pointer;
}

.Count_Button:hover {
  box-shadow: rgba(0, 0, 0, 0.644) 0px 1px 3px 0px,
    rgba(240, 240, 240, 0.692) 0px 0px 0px 1px;
}

.Button_Add {
  background-color: green;
  color: wheat;
  transition: all 0.5s ease-in-out;
}

.Button_Add:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.Button_Cut {
  color: wheat;
  background-color: #eb1d36;
  transition: all 0.5s ease-in-out;
}
.Button_Cut:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.Count {
  padding: 10px 12px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: medium;
  font-weight: 600;
}

.Product_Purchase_Card_Price {
  font-size: 25px;
  font-weight: 700;
  align-self: flex-end;
}

.Product_Purchase_Card_Button {
  padding: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.Product_Purchase_Card_Button:hover {
  opacity: 0.5;
  border-radius: 50%;
  background-color: #eb1d36;
  -webkit-transform: rotateZ(-270deg);
  -ms-transform: rotateZ(-270deg);
  transform: rotateZ(-270deg);
}
