.Payment_Page_Wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.Payment_Summary_Title {
  margin: 10px;
}

.Product_Total_Prices {
  font-size: medium;
  margin: 0px 14px;
  margin-bottom: 20px;
  padding: 8px;
  box-shadow: black 0px 3px;
}

.Each_Item_Wraper {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  box-shadow: black 0px 1px;
}

.Total_Price_Wrapper {
  display: flex;
  justify-content: space-between;
}

.Total {
  margin: 0px 22px;
  font-size: larger;
  font-weight: 700;
}

.Total_Price {
  margin-right: 20px;
}

.Payment_Button {
  align-self: flex-end;
  margin: 20px;
  width: 100px;
  height: 40px;
  background-color: #abc9ff;
  border: none;
  color: white;
  font-size: 30px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.Payment_Button:hover {
  color: #212121;
  background: rgb(171, 201, 255);
  background: linear-gradient(
    308deg,
    rgba(171, 201, 255, 1) 0%,
    rgba(255, 222, 222, 0.5102415966386555) 100%
  );
  box-shadow: 1px 1px #abc9ff, 2px 2px #abc9ff, 3px 3px #abc9ff;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
