.Product_Purchase_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border-bottom: 0.5px solid black;
  padding: 10px;
}

.Product_Purchase_Card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Product_Purchase_Image {
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 0px 10px;
}

.Product_Purchase_Card_Info {
  width: 500px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Product_Purchase_Card_Name {
  font-size: large;
  font-weight: bold;
}
.Product_Purchase_Info {
  font-size: 14px;
}

.Purchase_Item_Count {
  display: flex;
  width: 120px;

  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.Count_Button {
  padding: 6px;
  cursor: pointer;
}

.Button_Add {
  background-color: green;
  color: white;
  transition: all 0.1s ease-in-out;
}

.Button_Add:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.Button_Cut {
  color: white;
  background-color: #eb4747;
  transition: all 0.1s ease-in-out;
}
.Button_Cut:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.Count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  padding: 0px 2px;
  height: 28px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: medium;
  font-weight: 600;
}

.Product_Purchase_Card_Price {
  font-size: 25px;
  font-weight: 700;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.each {
  font-size: 13px;
  padding: 0px;
  margin-bottom: 6px;
}

.Product_Purchase_Card_Button {
  padding: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  opacity: 0.5;
}
.Product_Purchase_Card_Button:hover {
  opacity: 1;
  background-color: #eb4747;
  -webkit-transform: rotateZ(-270deg);
  -ms-transform: rotateZ(-270deg);
  transform: rotateZ(-270deg);
}
