.Purchase_Page {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-evenly;
  margin: 30px;
}

.Purchase_Page_Wrapper {
  width: 50%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.Purchase_Items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  padding: 0px 20px;
}

.Pre_Purchase_Wrapper {
  width: 100%;
  height: auto;
}

.Purchase_Favs {
  width: 80%;
  height: 20%;
  background-color: #eb1d36;
}

.Payment_Wrapper {
  width: 20%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: 0px 10px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
}
