.product-grid {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: white;
}
.product-grid .product-image {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-grid .product-image a.image {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
.product-grid .product-discount-label {
  width: 8%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.8vw;
  color: #fff;
  background-color: #abc9ff;
  line-height: 1vw;
  padding: 0 2vw;
  position: absolute;
  top: 7%;
  left: 0;
}
.product-grid .product-links {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 2vh;
  right: -4vw;
  transition: all 0.5s ease 0s;
}
.product-grid:hover .product-links {
  right: 0.6vw;
}
.product-grid .product-links li .heartIco {
  color: black;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.product-grid .product-links li .heartIco:hover {
  color: #abc9ff;
  transform: scale(1.5);
}
.hearts {
  width: 2vw;
  height: 2vh;
}
.product-grid .add-to-cart {
  font-size: 0.6vw;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.3vh;
  width: 100%;
  padding: 1vh 0vh;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.1s ease-in-out;
  transition: background-image 2s ease-out 100ms;
  border-top: 0.2vh solid rgb(0, 0, 0);
  cursor: pointer;
  display: none;
}
.product-grid:hover .add-to-cart {
  display: block;
}
.product-grid .add-to-cart:hover {
  background-image: linear-gradient(
    to right,
    #abc9ff 0%,
    rgb(255, 255, 255) 100%
  );
  color: #000000;
  border-top: 0.2vh solid rgb(0, 0, 0);
}

.product-grid .product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8vw;
  align-items: center;
  padding: 1.5vh;
  border-top: #abc9ff 0.2vh solid;
}
.product-grid:hover .product-content {
  border-top: #000000 0.2vh solid;
}

.rateStars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-grid .title {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1vw;
}

.product-grid .price {
  color: #abc9ff;
  font-size: 1.1vw;
  font-weight: 600;
}
.product-grid .price span {
  color: #abc9ff;
  font-size: 1.6vw;
  font-weight: 400;
  text-decoration: line-through;
}

.image {
  width: 8.4vw;
  margin: 2vh;
}

.PerItemWrapper {
  width: 12vw;
  border: 0.2vh solid #abc9ff;
  margin: 1vh 1vh;
  transition: all 0.1s ease-in-out;
}

.PerItemWrapper:hover {
  border: 0.2vw solid #000000;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
