.search-container {
  background: #323232;

  border-radius: 22px;
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: #0d747744 0px 0px 0px 1px inset, #14ffebc7 0px 0px 0px 1px;
}

.search-input::placeholder {
  color: white;
}

.search-btn {
  padding-top: 3.5px;
}

.search-container:hover > .search-input {
  font-size: 22px;
  width: 400px;
}

.search-input:focus {
  font-size: 22px;
  width: 400px;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.7s ease-in-out;
  color: white;
}

.Search_Button {
  width: 21px;
  height: 21px;
  margin-left: -4px;
  margin-top: -3px;
  margin-bottom: -3px;
}
