.search-container {
  background: #82dbd8;
  border-radius: 22px;
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3),
    -4px -4px 6px 0 rgba(53, 53, 53, 0.2);
}

.search-input::placeholder {
  color: white;
}

.search-btn {
  padding-top: 3.5px;
}

.search-container:hover > .search-input {
  width: 400px;
}

.search-input:focus {
  width: 400px;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
  color: rgb(255, 255, 255);
}

.Search_Button {
  width: 21px;
  height: 21px;
  margin-left: -4px;
  margin-top: -3px;
  margin-bottom: -3px;
}
