.Navbar-Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
}

.Navbar-Icon-Wrapper {
  color: white;
  padding: 1rem;
  font-size: 3rem;
  font-family: "Brush Script MT", cursive !important;
}

.Navbar-Icon-Wrapper:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #abc9ff;
}

.Navbar-Profile-Bar-Wrapper {
  display: flex;
  justify-content: space-between;
}

.Navbar-Profile-Bar {
  text-align: center;
  border: none;
  transition: all 0.1s ease-in-out;
  color: white;
  font-weight: 900;
  padding: 0px 8px;
  display: flex;
  margin-right: 1rem;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  opacity: 0.95;
  position: relative;
  min-width: 100px;
}

.Navbar-Profile-Bar p {
  margin-left: 2px;
}

.Navbar-Profile-Bar:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #abc9ff;
  opacity: 1;
}

.Total-Count {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 99px;
  position: absolute;
  top: -2px;
  left: 5px;
  color: #ffffff;
}
